body{
    background-color: #171717;
    font-family: "Honk";
    font-size: 26px;
}

h1{
    text-align: center;
    background-color: deepskyblue;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin-right: 10em;
    margin-left: 10em;
}

.flaggenImage{
    width: 30px;
    height: auto;
}

.grid-block{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
    width: 100%;
    gap:20px;
}

.languageArea{
    grid-row: 1;
    grid-column: 1;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.languageLabelArea{
    grid-row: 1;
    grid-column: 1;

    align-self: center;
    display: flex;
    justify-content: right;
}

.dropdown{
    position: relative;
    display: inline-block;


    grid-row: 1;
    grid-column: 2;
    align-self: center;

    justify-content: left;

}

.dropdownBtn{
    color:black;
    background-color: grey;

    border-style: solid;
    border-width: 2px;


    width: 95%;
    height: 45px;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 95%;
    left:0;
    z-index: 1;
    text-align: center;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown:hover .dropdownBtn{
    background-color: aqua;
}

.nickNameArea{
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 10% 50% 10%;
}

.nickNameArea button{
    color: black;
    border-style: solid;
    border-width: 2px;


    height: 40px;

    grid-row: 1;
    grid-column: 4;
    align-self: center;
}

.usersettingsButton{
    border-radius: 10px;
    border-width: 2px;
}

.nickNameArea button:hover{
    background-color: lightgrey;
}

.nickNameArea button:active{
    background-color: lightgrey;
    transform: translateY(4px);
}

.nickNameArea input{
    height: 40px;
    width: 95%;
    align-self: center;
    float: left;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

.nickNameArea input:active{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.nickNameArea textarea{
    resize: none;
    height: 30px;
    width: 90%;
    grid-row: 1;
    grid-column: 3;
    align-self: center;
    display: flex;
    justify-content: center;
}

.usernameLabelArea{
    grid-row: 1;
    grid-column: 2;
    text-decoration: underline;
    text-align: left;
    display: flex;
    align-self: center;
    justify-content: left;
    width: 95%;
}

.nickNameInputArea{
    grid-row: 1;
    grid-column: 3;
    align-self: center;
}



.leftOfChat{
    grid-row: 2;
    grid-column: 1;
}

.leftOfChat ul{
    background-color: aqua;
}

.chatfenster{
    grid-row: 2;
    grid-column: 2;

    display: flex;
    justify-content: center;
}

.rightOfChat{
    grid-row: 2;
    grid-column: 3;
}

#chatTextArea{
    background-color: white;
    width: 80%;
    height: 95%;
    resize: none;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    overflow-y: auto; /* Ermöglicht vertikales Scrollen, wenn nötig */
}

.chatinteraktion{
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 75% 25%;;
    grid-template-rows: 1fr;
}

#chatInputArea{
    display: flex;
    justify-content: right;

    margin-right: 20px;

}

#chatTextEingabe{
    align-self: center;
    resize: none;
    float: none;

    display: flex;
    justify-content: right;

    width: 86%;
    height: 40px;
    font-size: 15px;


    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

    grid-column: 1;
    grid-row: 1;
}
.sendButtonArea{
    display: flex;
    justify-content: left;
    grid-column: 2;
    grid-row: 1;
}

#sendButton{
    color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 60%;
    height: 43px;
    font-size: 20px;
    float: right;
    align-self: center;
    text-align: center;
}

#sendButton:hover{
    background-color: lightgrey;
}

#sendButton:active{
    transform: translateY(4px);
}